---
---

header {
    font-family: RodinNTLGPro-EB;
    background-color: rgba(20,39,59,.8);
    .site-title, .site-title:visited{
        font-size: 1.3em;
        color: #fff;
    }
}

.post-content {
    h1 {
        font-size: 1.5em;
        border-left: solid 5px #b9fff3;
        padding-left: 5px;
    }
}

.page-content {
    p {
        margin-bottom: 5px;
    }
    pre, code {
        background-color: #eee;
    }
    h1, h2, h3, h4, h5, h6{
        padding: 1px;
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 1.2em;
        border-left: solid 9px #56dbfb;
        border-bottom: solid 2px #56dbfb;
        padding: 3px 1px 3px 7px;
    }
    h3 {
        font-size: 1.1em;
        border-left: solid 5px #77b5e6;
        padding: 1px 1px 1px 5px;
    }
}

div {
    display:block;
}

html {
    scroll-padding-top: 10px;
}

body[html-show-sidebar-toc] #main-wrapper {
    left: 300px;
    width: calc(100% - 300px);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body #main-wrapper {
    position: relative;
    top: 0;
    min-height: 100vh;
}

.sidebar-toc ul, .sidebar-toc ol {
    margin-left: 10px;
}

body:not([html-show-sidebar-toc]) .sidebar-toc {
    display: none;
}

body[html-show-sidebar-toc] .sidebar-toc {
    position:fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 20px;
    scroll-padding-bottom: 30px;
    box-shadow: 0 0 4px rgba(150,150,150,.33);
    box-sizing: border-box;
    overflow: auto;
    background-color: inherit;
}

body #sidebar-toc-btn {
    position: fixed;
    bottom: 8px;
    left: 8px;
    font-size: 28px;
    cursor: pointer;
    color: inherit;
    z-index: 99;
    width: 32px;
    text-align: center;
    opacity: .4;
    text-decoration: none;
}

body[html-show-sidebar-toc] #sidebar-toc-btn {
    opacity: 1;
}
