---
---

body {
    display: flex;
    flex-direction: column;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
}

.flex-row-container {
    display: flex;
    flex-direction: row;
}

.flex-row-container-reverse {
    display: flex;
    flex-direction: row-reverse;
}


header {
    font-family: RodinNTLGPro-EB;
    background-color: rgba(20,39,59,.8);
    .site-title, .site-title:visited{
        font-size: 1.3em;
        color: #fff;
    }
}

.post-content {
    h1 {
        font-size: 1.5em;
        border-left: solid 5px #b9fff3;
        padding-left: 5px;
    }
}

.page-content {
    p {
        margin-bottom: 5px;
    }
    pre, code {
        background-color: #eee;
    }
    h1, h2, h3, h4, h5, h6{
        padding: 1px;
        font-size: 1em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 1.2em;
        border-left: solid 9px #56dbfb;
        border-bottom: solid 2px #56dbfb;
        padding: 3px 1px 3px 7px;
    }
    h3 {
        font-size: 1.1em;
        border-left: solid 5px #77b5e6;
        padding: 1px 1px 1px 5px;
    }
}

div {
    display:block;
}

html {
    scroll-padding-top: 10px;
}

#sidebar {
    flex:none;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;
    box-shadow: 0 0 4px rgba(150,150,150,.33);
    box-sizing: border-box;
}

body:not([html-show-sidebar-toc]) .sidebar-toc {
    display: none;
}

body[html-show-sidebar-toc] .sidebar-toc {
    flex: none;
    width: 300px;
    padding: 20px;
    height: -webkit-calc(100vh - (20px*2));
    height: calc(100vh - (20px*2));
    background-color: rgb(255,255,255);
    overflow: auto;
}
.sidebar-toc ul, .sidebar-toc ol {
    margin-left: 10px;
}

body #sidebar-toc-btn {
    flex: none;
    top: 0;
    width: 36px;
    height: 100vh;
    font-size: 28px;
    cursor: pointer;
    color: rgb(0,0,0);
    background-color: rgb(255,255,255);
    z-index: 99;
    text-align: center;
    opacity: .4;
    text-decoration: none;
}

body[html-show-sidebar-toc] #sidebar-toc-btn {
    opacity: 1;
}
