---
---

@import "{{ site.theme }}";

.post-content {
    h1 {
        font-size: 1.2em;
        border-left: solid 5px #b9fff3;
        padding-left: 5px;
    }
}

.page-content {
    h1 {
        font-size: 1.3em;
    }
    h2 {
        font-size: 1.2em;
        border-left: solid 5px #b9fff3;
        padding-left: 5px;
    }
}