<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "jp" }}">

  {%- include head.html -%}

  <body class="flex-col-container">

    {%- include header.html -%}

    <div class="flex-row-container">
      <!-- sidebar -->
      {%- if page.no-sidebar -%}
      {%- else -%}
      <div id="sidebar" class="flex-row-container">
        <a id="sidebar-toc-btn">≡</a>
        <div class="sidebar-toc">
          <div class="toc">
          目次

          {% include toc.html html=content %}
          </div>
        </div>
      </div>

      <script>
        document.body.setAttribute('html-show-sidebar-toc', true)
        var sidebarTOCBtn = document.getElementById('sidebar-toc-btn')
        sidebarTOCBtn.addEventListener('click', function(event) {
          event.stopPropagation()
          if (document.body.hasAttribute('html-show-sidebar-toc')) {
            document.body.removeAttribute('html-show-sidebar-toc')
          } else {
            document.body.setAttribute('html-show-sidebar-toc', true)
          }
        })
      </script>
      {%- endif -%}

      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
    </div>
    
    {%- include footer.html -%}
  </body>

</html>
